head
    title Get your Git profil
    link(rel="stylesheet", href="/css/styles.css")
body
    form(method='GET' action='/user/')
        input.form-control(type='text', placeholder='pseudo', name='user')
        button.btn.btn-primary(type='submit') Valider


